/*メイン盤面*/
.canvas{
    border: 1px solid black;
}

/*壁*/
.wrapper{
    display: flex;
}

.wrapper_left{
    display: flex;
    flex-direction: column;
}

.wrapper_right{
    display: flex;
    flex-direction: column;
}

.wrapper_bottom{
    display: flex;
}

.wrapper_outer_outer{
    display: flex;
}

.canvas_left{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background:rgb(91,89,90);
}

.canvas_right{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background:rgb(91,89,90);
}

.canvas_bottom{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background:rgb(91,89,90);
}

.right_part{
    padding-left: -10px; 
}

/*次のブロック*/
.next{
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.next_pic{
    width: 120px;
    height: 120px;
}

/*スコア*/
.score_tittle{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}

.score{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

/*消したライン数*/
.clear_line_tittle{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}

.clear_line{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 20px;
}

/*ボタン*/
.start{
    margin-top: 20px;
    margin-bottom: 20px;
}
.level{
    margin-bottom: 10px
}

.buttons{
    text-align: center;
    margin:-7px;
}
