.canvas{
    border: 1px solid black;
}

.next{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.next_pic{
    width: 120px;
    height: 120px;

}

.wrapper{
    display: flex;
}

.wrapper_left{
    display: flex;
    flex-direction: column;
}

.wrapper_right{
    display: flex;
    flex-direction: column;
}

.wrapper_bottom{
    display: flex;
}

.canvas_left{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background:rgb(91,89,90);
}

.canvas_right{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background:rgb(91,89,90);
}

.canvas_bottom{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background:rgb(91,89,90);
}


